[2020-02-06 23:18] yarsky-tgz opened #12 "Route cannot be reused with different path"
We found such hackish solution for now (`oldRoute` is function which configures router):

[code]

waiting for better solution

[2020-02-12 14:40] victor-a-rigacci opened #1 "[Commercial] Licence"
Hello,  how i purchase the licence for a commercial closed project?
Thanks!

[2020-02-12 14:43] dalisoft commented on #1
Hello and thanks for interest.
See https://github.com/nanoexpress/pro/blob/master/README.md#license

TLDR: When you become sponsor via Patreon, you can use nanoexpress Pro/Slim on your closed source applications.
Also your or your company  name will be shown in Sponsors section

[2020-02-12 14:52] #1 closed

[2020-02-13 21:36] CnApTaK opened #39 "HTTP Pipeline feature not working properly and deny/blocks incoming HTTP requests"
I have no idea where is the problem... (
![image](https://user-images.githubusercontent.com/1032312/74480373-7a89f800-4eb9-11ea-81a9-fff8c97d5b63.png)

[2020-03-19 16:33] reyzvikh opened #21 "UnhandledPromiseRejectionWarning in cjs/Route.js"
If a route handler that returns a promise throws an error, UnhandledPromiseRejectionWarning occurs in the cjs/Route.js file.

![image](https://user-images.githubusercontent.com/61026842/77088989-e8bc6000-6a0d-11ea-9260-7791211f5c9c.png)

The error thrown by a route handler wouldn't be processed by a specified error handler, and the request gets stuck.

You can reproduce this issue by running [this

[2020-03-19 16:55] dalisoft commented on #21
@reyzvikh Hi and thanks for report.

Can you please check this example with `nanoexpress-pro@1.1.0.13`?

[2020-03-20 07:43] dalisoft commented on #21
Issue was fixed in `v1.10.13`, if issue occurs again, feel free to re-open issue or create another issue

[2020-03-20 07:43] #21 closed

[2020-04-03 16:44] dnohr opened #24 ""staticServe" sending wrong file issue"
Hi,

I have been testing this framework today and stubbled over this issue.

I implemented the build-in static file module:
const staticServe = require('nanoexpress-pro/cjs/static');
app.use(staticServe(__dirname + '/public'));

I have two files in two different folders:
1. "/public/img/flag/in.svg"
2. "/public/img/testin.svg"

When trying to check in the browser for image number 2 (example.com/im

[2020-04-06 12:32] dalisoft commented on #24
Hi @dnohr

I'm uploaded new fixed and better documented version at [here](https://github.com/nanoexpress/middlewares)

[2020-04-06 12:32] dalisoft commented on #24
@dnohr

If new middlewares `static` fixes your issue, please close issue

[2020-04-19 15:02] literakl opened #38 "Duplicate Content-Length for CORS"
I have written unit tests for my API and I realized that OPTIONS calls fails because Nanoexpress returns duplicated Content-Length header. I tried both Axios and GotJS clients. It seems that the exception is thrown inside NodeJS HTTP parser (I use NodeJS v12.16.2 now). I moved to backend and tested the same methods with NanoExpress and Express. Express test passes while Nanoexpress test fails.

He

[2020-04-22 12:21] dnohr commented on #12
Hi @dalisoft ,

Sorry for the late reply. I just reinstalled the libraries now to verify it, and with a fresh install, I'm still getting the same or similar issue.

Tested with the following code:
`
const nanoexpress = require('nanoexpress-pro/cjs');
const staticServe = require('nanoexpress-pro/cjs/static');
const app = nanoexpress();
app.use(staticServe(__dirname + '/public'));
app.get('/', (req,

[2020-04-22 12:24] dalisoft commented on #12
@dnohr Please comment in another issue thread and well continue discussion

[2020-04-27 14:36] dalisoft opened #26 "nanoexpress Pro (CJS version) - End of Life date"
|Stage|Start Date|End Date|Action
|-|-|-|-|
|Active|-|April 30 2020|+
|Maintenance|May 1 2020|May 31 2020|`cjs` branch will be created and only bug-fixes
|Freeze|June 1 2020|June 30 2020|Only PR will be accepted on `cjs` branch
|EOL|July 1 2020|August 31|You should go-to ESM version
|Full EOL|September 1|-|No support, for everyone

Notes
- On **Maintenance** stage, @nanoexpress/gold-sponsors or hi

[2020-04-27 21:04] tgmerritt opened #27 "Error shown but cannot find where it's being thrown"
When I use express - app starts on port 8080 as I designate and runs.

I trade out express for nanoexpress and I see:

[code]

No other stack trace is emitted.  I have no idea how to track down this particular error.

I'm going to guess that what this means is you cannot pass an argument to a function if that argument is not one of String, ArrayBuffer or TypedArray.  And if that's true, then I'm g

[2020-04-27 21:13] dalisoft commented on #27
Hi.

- Are you really using Pro version?
- Without route code really hard to understand how and why this error occurs

See [this](https://github.com/uNetworking/uWebSockets.js/issues/276) please and make sure check your code again.
Check examples, documentation and some tests before creating issue.

I sure the error was occured because on your code something wrong.
I am made library on top of uWS

[2020-04-27 21:13] #27 closed

[2020-05-03 03:20] dalisoft commented on #26
On PRO version, support of CJS version was extended to Dec 1 2020 due of Sponsors choice.
You also can become sponsor and vote to future of project

[2020-05-05 14:13] Afaneh-Ahmad opened #30 "unhandledRejection attachOnAborted.push is not a function"
unhandledRejection attachOnAborted.push is not a function
 even when running the simplest test (same test works on nanoexpress but not in pro)
const app = nanoexpress();
app.get('/', (req, res) => {
	return res.send({ status: 'ok' });
});
app.listen(3000);

after downgrading to 1.10.13 the error does not show

[2020-05-08 17:01] #30 closed

[2020-05-08 17:25] dalisoft opened #33 "Features log"
|Name|Status|Development Cost|Time|
|-|-|-|-|
|@nanoexpress/core|90%|250$|1 Week|
|@nanoexpress/middlewares|80%|250$|1 Week|
|@nanoexpress/handler|0%|250$|1 Week|
|@nanoexpress/ast-parser|60%|1000$|4 Week|
|@nanoexpress/ast-compile|0%|250$|1 Week|
|@nanoexpress/db-storage|0%|750$|3 Week|
|@nanoexpress/file-storage|0%|750$|3 Week|
|@nanoexpress/graphql|65%|750$|3 Week|
|@nanoexpress/nginx|0%|250$|1

[2020-05-08 17:47] dalisoft opened #34 "[NOT] Project business model change"
Currently all project access will get access, but some of users we're using project on commercial project without being Sponsor (no, i didn't added analytics).

As planned this project was made for
- Free for open-source projects (to support open-source community)
- Paid for commercial projects (closed-source apps)
- Discounts for students and non-profit organizations (should be contacted to me)
-

[2020-05-08 17:58] dalisoft commented on #26
Now things changed and project will not provide any of CJS version, only exception will be old sponsors which can get both CJS & ESM version.

Until June 1 2020 no new features, only **critical** bug-fixes. See #34 for more info

[2020-05-08 20:06] dalisoft commented on #34
# In Discussion stage

[2020-05-08 20:07] dalisoft commented on #34
Join at [here](https://t.me/nanoexpress_discussion) to discussion

[2020-05-08 20:29] #33 closed

[2020-05-08 20:40] dalisoft commented on #34
Project does not change business model. Now focus will be integration with Meteor and Next.js

[2020-05-08 20:40] #34 closed

[2020-05-08 20:41] dalisoft commented on #26
#34 was closed as resolved and project keeps supporting both CJS and ESM, expire date does not exist on all versions

[2020-05-08 20:41] #26 closed

[2020-06-15 15:54] dalisoft opened #44 "Please try PRO version"
See [here](https://nanoexpress.js.org/pro-is-now-free) for reading new rules

Dear old users, i will let you know your new status, i will remove status from Patreon as soon as i get time
- @mrauhu and @yarsky-tgz will get Commercial user status
- @victor-a-rigacci will get Supporters status
- Lemico (please comment here and i'll add your username here) will keep own Donaters status currently

[2020-06-16 09:36] gxdyxh opened #40 "nanoexpress [Server]: None of middleware will be called until you define route"
https://nanoexpress.js.org/routes/static-serve

Running the sample code prompts an error：nanoexpress [Server]: None of middleware will be called until you define route

[2020-06-17 18:12] dalisoft commented on #40
Thanks for bug-report.
I don't think anyone will use only middlewares without routes for backend, so for optimizations this options was used.

As a workaround you can use `app.options(/'*', () => {});` and will work fine.

[2020-06-17 18:12] #40 closed

[2020-06-18 12:46] BarryHoa opened #41 "HTTP Route path SLASH support"
I use this example :
 https://github.com/nanoexpress/pro/blob/master/examples/route-example.js
with import app and route is:
[code]
Then the path` /` run ok
but the path `/foo `or` /foo/bar` return `{"code":404,"message":"The route does not exist"}`

node version : 12.16.3
npm 6.14.4

[2020-06-18 13:18] dalisoft commented on #41
I'll look into this a bit more later (next week maybe), thanks for report

[2020-06-22 02:25] vmtran123 opened #42 "POST Method doesn't seem to work"
I am trying implement a sign up function which should take the body of the request then save it to MongoDB via mongoose.

- NodeJS 14.3.0
- Nanoexpress-pro 1.11.4
- Mongoose 5.9.19
- bodyparser 1.19.0

app.js
[code]
auth.controller.js
[code]
In Postman, when I sent a raw request (JSON format) with blank body without the braces, the application encountered this error and got terminated immediately.

[2020-06-22 02:31] dalisoft commented on #42
Hi @vmtran123

Thanks for using nanoexpress, but please read [about new rules](https://github.com/nanoexpress/nanoexpress/issues/108) and do these steps

1. Create repo which presents minimal function/issue
2. Use external temporarily DB (Heroku MongoDB?)
3. Replace entire snippet/part-of-code to link to your prepared repo

If you cannot these steps, this issue will be closed without any futher di

[2020-06-22 02:34] dalisoft commented on #42
Even better, i recommend you post on **StackOverflow** as it's not really shows bug, just like _why it doesn't work_

[2020-06-22 23:07] dalisoft commented on #42
No response, no test repo. I'll closing this according to new rules

[2020-06-22 23:07] #42 closed

[2020-06-22 23:14] dalisoft commented on #41
Use `/foo/bar/`, not `/foo/bar`.

[2020-06-22 23:15] dalisoft commented on #41
As described [here](https://github.com/nanoexpress/pro/issues/44#issue-643407894), issue should not exist on uWebSockets.js, but this issue exists on uWebSockets.js, so i'll close this issue

[2020-06-22 23:17] dalisoft commented on #39
According to [new rule](https://github.com/nanoexpress/pro/issues/44#issue-643407894), i keep issues open only if it's related to **nanoexpress**, not to it's core.
When it will be fixed on uWebSockets.js, then on this repo also will be fixed

[2020-06-22 23:17] #39 closed

[2020-06-22 23:18] dalisoft commented on #38
According to [new rule](https://github.com/nanoexpress/pro/issues/44#issue-643407894), i keep issues open only if it's related to **nanoexpress**, not to it's core.
When it will be fixed on uWebSockets.js, then on this repo also will be fixed

[2020-06-22 23:18] #38 closed

[2020-06-23 14:50] FerLuisxd opened #46 "Problems with websocket"
So basically I am trying to reproduce the basic example found in the [docs](https://nanoexpress.js.org/websocket#basic-example) with no luck
This is my server code:
[code]

And this is my client code:
[code]
When we execute the client code the server will crash:
![image](https://user-images.githubusercontent.com/29811965/85418881-fca8be00-b536-11ea-8a7e-7d92f7443c6e.png)

Any idea why?

[2020-06-23 20:01] dalisoft commented on #46
Hi

Thanks for using nanoexpress, but please read [about new rules](https://github.com/nanoexpress/nanoexpress/issues/108) and do these steps

1. Create repo which presents minimal function/issue
2. Use external temporarily DB (Heroku MongoDB?) [if exists]
3. Replace entire snippet/part-of-code into link to your prepared repo

If you cannot these steps, this issue will be closed without any futher

[2020-06-24 17:52] dalisoft commented on #46
No response, no test repo. I'll closing this according to new rules

[2020-06-24 22:15] d3v0e opened #48 "Empty body crashes application"
If you send a POST request with an empty request body, it causes the application to crash with an error

`req.body = buffer.toString('utf8').replace(SPACE_TRIM_REGEX, '');
TypeError: Cannot read property 'toString' of undefined`

My way to fix this
`req.body = buffer ? buffer.toString('utf8').replace(SPACE_TRIM_REGEX, '') : null;`

[2020-06-24 22:18] dalisoft commented on #48
PR is welcome.
Thanks for report

[2020-06-27 16:46] dalisoft commented on #48
No PR.
As library provided as-is, currently no-support

[2020-06-27 16:46] #48 closed

[2020-06-27 19:39] dalisoft commented on #41
Seems i fixed it wrong.

Read [here](https://github.com/uNetworking/uWebSockets.js/issues/336), [here](https://github.com/uNetworking/uWebSockets/issues/1049#issuecomment-626508774) and [here](https://stackoverflow.com/questions/5948659/when-should-i-use-a-trailing-slash-in-my-url) for more information.

Starting at **v2.1.0** this behavior will be revert back to correct solution, no auto slash

[2020-06-27 21:38] dalisoft opened #49 "V2 Introducing / V1 Support"
There new breaking change (see more on releases), but **V1** still will be supported within **2-week** (Until 14 July 2020)

Support for **V1** happens because some of our sponsors still uses **V1** on production and update to **V2** is risky as cost is development time, extra money cost and stability

You can see [old code at here](https://github.com/nanoexpress/pro/tree/v1)

[2020-06-28 21:21] #41 closed

[2020-06-29 18:46] dalisoft commented on #40
Updates documentation, updated **nanoexpress/middlewares** and this bug should be fixed.
Try out all latest packages/repos and you'll see performance boost and new features around bug-fixes

[2020-07-11 11:40] dalisoft commented on #49
After 2-days v1 support will be ended, please migrate to **v2**

[2020-07-11 17:59] #44 closed

[2020-07-14 05:01] dalisoft commented on #49
As in my timezone (GMT+5) already **14 July 2020**. V1 support got End-of-Life and any bugs (except **super-critical**) will not fixed in **V1**

[2020-07-14 05:01] #49 closed

[2020-07-15 00:33] kran6a opened #62 "req.body is undefined on patch requests"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [X] No

### Minimal reproducible repo

https://github.com/kran6a/nanoexpress-bug-report

### Current Behavior

req.body property is undefined on patch routes.

To test the route I used the following curl command: `curl --request PATCH \
  --url http://127.0.0.1:3030/ \
  --header 'content-type: application/json' \
  --data '{

[2020-07-15 00:50] dalisoft commented on #62
Thanks for bug-report.

PR is welcome.

[2020-07-15 02:27] #62 closed

[2020-07-18 11:31] blueway opened #63 "`res.status` No effect in setErrorHandler function"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

#### _If your team sponsoring this project, please attach here your team lead or who purchased license GitHub login_

### Minimal reproducible repo

[code]

### Current Behavior

A clear and concise description of the behavior.

### Expected behavior/code

A clear and concise description of what you expected to happen

[2020-07-18 11:44] dalisoft commented on #63
You should read docs and rules, but you didn’t read both.

[2020-07-18 11:47] blueway commented on #63
sorry ,I've read the docs, but I don't know why it doesn't work

[2020-07-21 23:55] mrddter opened #64 "Issue with loadtest"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Minimal reproducible repo

https://github.com/mrddter/evaluation-nanoexpress

### Current Behavior

Hi I'm evaluating some web frameworks for a next project but if I run loadtest (for performance purpose) too many errors are fired. I create this repo for understand if is a issue on my side (that not appear with ot

[2020-07-22 02:46] dalisoft commented on #64
Hi. see https://t.me/nanoexpress/18.
I am not maintaining this framework anymore.

Thanks for bug reporting

[2020-08-02 17:39] kran6a opened #70 "Imported modules do not work on ws handlers"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [X] No

### Minimal reproducible repo

https://github.com/kran6a/nanoexpress-bug-2

### Current Behavior
Creating a websocket handler that needs to use imported dependencies causes the server to crash when a ws message is received by the server with a ReferenceError: <imported module name> is not defined.

I suspect the error

[2020-08-02 17:40] dalisoft commented on #70
Hi. see https://t.me/nanoexpress/18.
I am not maintaining this framework anymore, exactly i will add new features and quick bug fixes only for commercial users.

Thanks for bug reporting

[2020-10-20 12:00] dalisoft commented on #70
@kran6a Sorry for delay, can you please describe issue more informative? Thanks

[2020-10-20 12:02] dalisoft commented on #64
Hi @mrddter

Sorry for delay.
Can you please describe issue more informative?
Project status is now **Active**, so bug can be fixed

[2020-10-20 12:03] dalisoft commented on #63
Hi @blueway

Please fill missing fields such as "Current Behavior", "Excepted behavior", etc.
Would be nice to have screenshots too

[2020-10-20 12:04] dalisoft commented on #63
@blueway

Try
[code]

[2020-10-20 12:10] dalisoft commented on #12
@yarsky-tgz Hi.
Currently solution is using `connect` as workaround, but may impact performance.
Route in `nanoexpress` isn't designed to use more than once, it's possible to fix it, but performance will drops and becomes like `connect middleware + nanoexpress` performance.

Try like this

[code]

Thanks to @mrauhu for this solution

[2020-10-31 08:27] MrBot45 opened #133 "Crash randomly.."
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

#### _If your team sponsoring this project, please attach here your team lead or who purchased license GitHub login_

### Minimal reproducible repo

Link here

### Current Behavior

Crash on POST request.
TypeError: stream.on is not a function
    at readStream (/root/middleware/node_modules/raw-body/index.js:190:10)

[2020-10-31 08:30] dalisoft commented on #133
Hi @MrBot45
Thanks for trying out nanoexpress and i'm happy to help here to you, but should create minimal reproducible repo to test.

[2020-10-31 08:32] MrBot45 commented on #133
What do you mean?

[2020-10-31 08:38] MrBot45 commented on #133
Im using nanoexpress as a middleware proxy. It has a lot of bugs but I can't get this one to work. It seems like the internal fails.

[2020-10-31 08:41] MrBot45 commented on #133
Go on this page to get the error: https://bobuxpvp.tk/login

Enter anything, it always throw an error. It work fine with express so im not sure what's the issue.

[2020-10-31 08:42] dalisoft commented on #133
Minimal reproducible repository and/or example, read [here](https://en.wikipedia.org/wiki/Minimal_working_example) to test and fix.

Please create separate issue for every bug, i'll look and fix as i can. Also, please don't use nanoexpress as a middleware, just use as Server framework without other frameworks :)

[2020-10-31 08:43] dalisoft commented on #133
I see, but i need MRE/MRR to test and know where it fails and fix.

[2020-10-31 08:43] MrBot45 commented on #133
Idk how to reproduce the issue.. It's just a reverse proxy..

[2020-10-31 08:46] dalisoft commented on #133
Thanks for describe how you use. Do you using **proxy** ([example](https://github.com/nanoexpress/pro/blob/master/examples/proxy.js)) define to use as `reverse proxy`?

[2020-10-31 08:52] MrBot45 commented on #133
No. My project has over 2k lines of code it's hard to provide a minimal example. It require extenal database and stuff.

`this.app = nanoexpress();

		this.app.setErrorHandler((e, r, s) => {
			console.log(e.stack);
			s.json({error: e.stack});
		});
this.app.any('/*', async (req, res) => { // cant use async for no reason so had to make a custom next function because this never return a "next" par

[2020-10-31 08:55] dalisoft commented on #133
Seems your `proxy` function as middleware working wrong.
[code]

Before **nanoexpress** these modules are crashing, so checkout **proxy** define to make proxy easier and high-performant.

Thanks

[2020-10-31 08:58] MrBot45 commented on #133
Will check it out, can you try to fix the write stream? I have to make a check for the buffer size to see if it's smaller than 15mb or it's just abordning everytime. Even with this bypass, it's flooding the logs with

Invalid access of discarded (invalid, deleted) uWS.HttpResponse/SSLHttpResponse.
Invalid access of discarded (invalid, deleted) uWS.HttpResponse/SSLHttpResponse.
Invalid access of di

[2020-10-31 08:59] MrBot45 commented on #133
The stream end itself while writing data.

[2020-10-31 09:03] dalisoft commented on #133
@MrBot45
Then you using `async` or `stream` wrong.

As issue creation requires

core of this project does not handle these wraps, but nanoexpress does, but it does not mean it does all magic like express, that's why expressjs almost 8x slower than nanoexpress.

My library isn't great, but you should first checkout examples folder as available some examples how do something correctly.
As it's your

[2020-10-31 09:05] #133 closed

[2020-10-31 21:36] MrBot45 commented on #133
Is it possible to add a next function to setErrorHandler?

[2020-12-21 16:42] dalisoft commented on #133
Yep, it is possible. But always you can use 3 argument, not 4. Check examples and documentations please

[2020-12-21 16:45] dalisoft commented on #64
@mrddter I got some time to get working on this project, seems your Minimal repo does not exist anymore. Can you create please another one?

[2020-12-22 13:25] dalisoft commented on #70
Hi, @kran6a
Good find, thanks for trying out nanoexpress. Fix soon will be released.
Have a nice day!

[2020-12-22 13:50] dalisoft commented on #70
@kran6a
Issue fixed, just use `nanoexpress` instead of `nanoexpress-pro` as now aliased

[2020-12-22 13:50] #70 closed

[2020-12-22 13:51] dalisoft commented on #64
No answers yet, issue will be closed until issue author wants fix after show

[2020-12-22 13:51] #64 closed

[2020-12-29 07:45] ceddybi commented on #46
@dalisoft i think @FerLuisxd provided a valid example, i've actually faced the same issue with latest nanoexpress,

mine is now `TypeError: Cannot set property 'rawPath' of undefined`

Something you can look into, instead of just closing it

[2020-12-29 08:01] dalisoft commented on #46
@ceddybi Thanks for let me know and thanks for interesting. Reopening issue and i'll fix it as soon as possible.

Happy new year!
Regards,
Davlik

[2020-12-29 08:22] dalisoft commented on #46
@ceddybi I just tested and it works.

<details>
<summary>Screenshot</summary>

<img width="1393" alt="image" src="https://user-images.githubusercontent.com/3511344/103269968-c57d0300-49d8-11eb-9a78-b335357679fa.png">

</details>

[2020-12-29 08:25] dalisoft commented on #46
@FerLuisxd @ceddybi Please try using `nanoexpress` package, not `nanoexpress-pro` as new updates are pushed to `nanoexpress` package.

[2020-12-29 09:09] ceddybi commented on #46
@dalisoft Yes I can confirm that it is working, I previously had old `v2.0.0`, I just updated to the latest version, and it works now

[2020-12-29 09:11] dalisoft commented on #46
Thanks for testing and glad it is working.

Have a nice day.

Regards,
Davlik

[2020-12-29 09:11] #46 closed

[2021-01-04 14:10] harshmandan opened #162 "res.render support?"
## Feature Request

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

## Request

Hello, is there any way I can render EJS/PugJS templates like `res.render()` function of expressJS. Maybe even as an optional plugin?

Thanks!

[2021-01-04 14:20] dalisoft commented on #162
Hi @harshmandan
Thanks for interesting. Happy new year!

Sorry, but there no support currently and not planned yet, but you can create your middleware to provide support on middlewares repository and I’ll check and merge if it meets requirements.
But implementing new one I don’t have a lot of times, so I don’t know how much time it takes.
On my next plan fastest file upload middleware, GraphQL imp

[2021-01-06 18:19] harshmandan commented on #162
Okay!
Thanks for the reply. I also think that file-upload support is more important for now (Waiting for it). Also, maybe add `multipart/form-data` support as well.
Thanks!

[2021-01-06 18:23] dalisoft commented on #162
Thank you for interesting to library.
Would be nice to keep issue opened as in future this feature may be implemented

[2021-01-11 13:28] FM77-knde commented on #63
I can confirm this issue still exists (v2.4.4) and there is a bug in the implementation of the errorhandler, it sends a header premature of the processing of the configured errorhandler and prevents setting a custom statuscode and proper continuation.

In Route handler:
`            const handleError = (err) => {
              isAborted = true;

              **// this prevents processing the cust

[2021-01-14 14:19] dalisoft commented on #63
@FM77-knde Thanks, then i'll check these part of code

https://github.com/nanoexpress/nanoexpress/blob/96813ee82b788eb9eca0114fcf471dc189faeec2/src/Route.js#L359-L379

And fix this as soon as i can

[2021-01-16 19:46] dalisoft commented on #63
@FM77-knde @blueway Please check, issue was fixed or still exists?

[2021-01-22 21:55] #63 closed

[2021-02-14 22:56] kran6a opened #165 "SSE implementation"
## Feature Request

### Is your feature request related to a problem? Please describe
No

### Describe the solution you'd like
SSE is a technology that allows the server to broadcast a stream of events to the clients subscribed to a specific endpoint. Is is like an unidirectional websocket connection without the extra overhead of continously pinging the server to prevent the browser from closing t

[2021-02-16 21:04] dalisoft commented on #165
@kran6a I will look into this in next month (maybe in April), but i think it's not possible, i'll try

[2021-03-04 00:22] xobotyi opened #167 "[types] invalid HttpRoute typing"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Minimal reproducible repo

https://codesandbox.io/s/clever-shirley-dy0l5?file=/src/index.ts

### Current Behavior

Getting error:
[code]

### Expected behavior/code

TO have proper type definitions =)

### Environment

- Node/npm version: node 15.11, yarn 1.22.10, npm 7.6.0
- OS: Windows 10
- Addinational Info:

#

[2021-03-08 09:27] hellovietduc opened #168 "Can't set required field for ajv schema validation"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

#### _If your team sponsoring this project, please attach here your team lead or who purchased license GitHub login_

### Minimal reproducible repo

Link here

### Current Behavior

Suppose I have a request schema like this.

[code]

Setting the `required` field causes an error because the `SchemaValue` interface does

[2021-03-09 07:52] dalisoft commented on #168
@hellovietduc Hi and thanks for trying out.

Did you try change code to this?

[code]

[2021-03-09 07:53] dalisoft commented on #167
Hi @xobotyi.

Thanks for trying out my library. PR is welcome and would be great.
I do at end of month some changes as well as try refactor entire code-base for more stable performance

[2021-03-10 20:43] #167 closed

[2021-03-11 17:42] #168 closed

[2021-03-11 17:58] #165 closed

[2021-03-11 18:00] dalisoft commented on #165
Hi @kran6a.

I tried to implement this, but seems it's not possible due of two reasons
- Methods are changed, but library is old
- uWebSockets.js (core of nanoexpress) is releasing HTTP instance after response, so memory usage is low.

See my trying experiment https://github.com/nanoexpress/nanoexpress/blob/master/examples/sse.js, you welcome to try and add support.

Thanks for trying out my frame

[2021-03-11 18:28] dalisoft commented on #165
No, it’s not fixed, it’s closed, huh

[2021-05-23 00:26] AqilCont opened #181 "RegExp paths for Routes?"
## Feature Request
Can there be support for regular expression paths? I wanted to just copy over some code I had from express:
[code]
but I get this error, and I'm guessing you only expect string paths because of it:
[code]

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Describe alternatives you've considered

I've considered just looping over every html file and making a s

[2021-05-23 00:31] AqilCont commented on #181
I love this library, since it provides a really nice api wrapper for something I found a bit tough to use, with nice websocket support, and a lot of ease of use, mixed in with extremely good performance. Thanks for making and maintaining this awesome library!!!!

[2021-05-23 03:45] dalisoft commented on #181
I’d think it is possible, but performance will be reduced and i do not want it.
Please check out https://github.com/jesusvilla/natural for better route functionality and that library also free.

Thank you for good kind of words. Wish you all the best.

[2021-05-23 03:45] #181 closed

[2021-05-29 20:43] dalisoft commented on #12
Hi @yarsky-tgz

Please try `nanoexpress@6.x` aka `next` version.
I hope it will work for your case, i got it working on some routes at cost of `5%` performance drop, no i think it's not a lot of loss.

[2021-06-05 16:59] BaseMax opened #193 "Sponsors page 404"
https://nanoexpress.js.org/support/sponsors

[2021-06-05 17:07] dalisoft commented on #193
Thank you @BaseMax for catching typo bug

[2021-06-05 17:08] #193 closed

[2021-06-16 15:38] dalisoft opened #203 "Performance slowdown on Docker"
## Bug Report

### Minimal reproducible repository

See https://github.com/nanoexpress/nanoexpress-vps-bench

### Current Behavior

When comparing between native and Docker code execution difference is does 100% for me. After [patching command](https://github.com/docker/for-linux/issues/738#issuecomment-843842600) it differs only ~35%. Looks like not a much difference, but it's a lot

### Expected

[2021-07-20 01:44] howesteve opened #231 "Any way to wait for server closed?"
Hello, this is more of a doubt.

So when I call this:
[code]
.. a promise is returned, and even if I wait for it:
[code]
the next line is executed immediately.

My answer is, how can I wait until the server is stopped to finish closing other resources?
[code]
Thanks

[2021-07-23 08:06] mustard-mh opened #235 "cannot find module Route"
## Bug Report

use route feature then  run `node index.js` throw error: Cannot find module '.../nanoexpress/src/Route'

(What exactly [PRO PRO Slim version](https://nanoexpress.js.org/routes/route) mean?)

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Minimal reproducible repo

[code]

### Current Behavior

failed to run project

### Expected behavior/code

service start wi

[2021-07-24 00:21] dalisoft commented on #235
Hi @mustard-mh

Thank you for trying out nanoexpress and reporting bugs or any questions related to documentation and it's improves documentation base.
I am updated documentation.

Try this
[code]

I hope this helps you

---

About **PRO and PRO Slim**, before has been three versions. I am removed simple version and made **PRO** version as **FREE** in hope of community supports me by code contribu

[2021-07-24 00:24] dalisoft commented on #231
Hi @howesteve
Thank you for asking these questions, but it's not bug.

- There no `app.closed()` method
- `app.listen()` async/promise works properly, tested
- `app.close()` method code is [here](https://github.com/nanoexpress/nanoexpress/blob/master/src/App.js#L196)

[2021-07-24 00:24] #231 closed

[2021-07-24 00:24] #235 closed

[2021-07-24 00:25] dalisoft commented on #12
It's works on **nanoexpress** v8 release and seems enough stable as i'm used this on production, works fine

[2021-07-24 00:25] #12 closed

[2021-07-24 00:27] dalisoft commented on #162
File upload is implemented, but there more than just simple tasks to implement this feature. If anyone interested, you can create middleware, i'll add to [nanoexpress/middlewares](https://github.com/nanoexpress/middlewares) repository

[2021-07-24 00:27] #162 closed

[2021-07-24 00:27] dalisoft commented on #203
As this is **Docker** issue, not **nanoexpress**, it's can be closed, but will be pinned

[2021-07-24 00:27] #203 closed

[2021-07-30 12:00] ohmree opened #247 "More of the framework needs type declarations"
## Feature Request

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Is your feature request related to a problem? Please describe

I'm trying to set up a basic app using the `Route` class but there aren't any type declarations for it.
For example, in the following snippet `Route` is of type `any` and my editor warns me about missing declarations for `nanoexpress/cjs/Route.js`

[2021-07-30 12:06] dalisoft commented on #247
I currently little bush, but I’ll do this as soon as I’ll get free time

[2021-07-30 12:25] ohmree opened #248 "Needs a better structure"
## Feature Request

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Is your feature request related to a problem? Please describe

Right now you have to reference source files directly when importing anything that isn't in the main `nanoexpress` import, and (more annoyingly) the import path depends on whether you're using commonjs or esm (when using typescript and targeting `

[2021-07-30 18:04] dalisoft commented on #248
I welcome any PR with changes related to this as well as more test coverages help project better.
Currently on my projects i am using native uWebSockets.js, fiber (golang) so I spend less time improving this project.
but great companies supporting me with great apps/services so i should do improve as they trusted me as Open Source author

[2021-07-30 18:38] ohmree commented on #248
Fair enough, I might make a contribution then.

Thanks for the reply!

[2021-08-02 05:03] Pomax opened #250 ""bug" in the loose sense of the word: the FAQ link in the README.md is the wrong link"
[The README.md](https://github.com/nanoexpress/nanoexpress#table-of-contents) currently points to https://nanoexpress.js.org/support/faq for the "faq" link, but that's a 404.

[2021-08-02 09:29] #250 closed

[2021-08-02 09:29] dalisoft commented on #250
Thank you @Pomax

[2021-08-02 14:48] gotshadowbantempaccount opened #251 "NanoExpress can't write remove headers"
Try to add headers in nanoExpress

    res.removeHeader('Content-Type');
    res.removeHeader('uWebSockets');
    res.setHeader('Content-Type', 'image/jpg');

But got now 2 headers and old one was never remove any way why its add me application/json

    Connection: close
    Content-Length: 2470
    Content-Type: image/jpg
    Content-Type: application/json

And now get error on my image:

And or

[2021-08-02 16:04] dalisoft commented on #251
- You can’t remove uWebSockets
- You not using official bodyParser plugin
- You using the code wrong
- There no reproducible repository

[2021-08-02 18:51] gotshadowbantempaccount commented on #251
[code]

`const expressSession = require('express-session'); <!---  this is the issue use before body parser from express and was crazzy many issues then switch to to: nanoexpress/middleware-body-parser  and now see that need use correct session tooo `
___

When read documents or on other pages is say is compatibility middleware so my mistake just maybe next time need think that * mean actually som

[2021-08-02 19:43] gotshadowbantempaccount commented on #251
Do some test now and can confirm that session module generate thus bug:

ON main page link to session module is: https://github.com/expressjs/session

Same with: body-parser (yes, if you don't want built-in)  -->>  https://github.com/expressjs/body-parser

Should be: https://github.com/nanoexpress/middlewares/tree/master/packages/body-parser

Also don't see session modlevere form nano

[code]

[2021-08-02 20:02] gotshadowbantempaccount commented on #251
@dalisoft  found source of error in

cjs/nanoexpress.js  line 2013

res.setHeader('Content-Type', 'application/json');

after comment it it stop adding application/json

on print error varible got:

`TypeError: res._implicitHeader is not a function  express-session\index.js:276:15)`

[2021-08-02 20:09] dalisoft commented on #251
Seems it’s up to you. I checked on latest stable with passportjs and worked for me fine.

[2021-08-02 20:11] dalisoft commented on #251
I’ll look into this issue next week or in next two week

[2021-08-02 21:32] gotshadowbantempaccount commented on #251
actually found some commit interesting

 Fix https missing _implicitHeader function for express-session
https://github.com/wapplr/wapplr-authentication/commit/a253e4d8ab99dfe3cf9a5bb269a9b9843c2cf09a

__
and more:
https://github.com/nginx/unit/issues/240

The compression module uses the _implicitHeader function, which exists in the original http module. However, I see that this function was remove

[2021-08-02 21:41] gotshadowbantempaccount opened #252 "Is a nice pice of code but you can't sell it"
## Feature Request
- missing benchmarks on main page ( this guy do it right ) http://gwan.com
**Missing info on main page**
Performance improvement by ~25%
Try to call EXPERIMENTAL_FASTCALL=1 node server.js
- missing information on main page say that is base uWebSockets
- also benchmark link from homepage https://nanoexpress.js.org/benchmark ?? missing where is graphs

A clear and concise descript

[2021-08-23 06:32] dalisoft commented on #252
Hi @gotshadowbantempaccount

Thank you a lot for notices, i appreciate any PR

[2021-08-23 06:32] #252 closed

[2021-09-03 16:16] kran6a opened #265 "Response and request .pipe() method seem bugged"
## Bug report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

### Current Behavior
res.pipe() expects  `callback: (pipe: Readable) => void, size?: number, compressed?: boolean`
The callback gives me a Readable stream instead of a Writable so that I can stream data to the client
req.pipe() is defined on the interface but if called it throws `req.pipe is not a function`
A clear an

[2021-09-03 16:37] letto4135 opened #266 "issue with nanoexpress in middleware"
The issue I'm running into is that I have two apps that run express and I'm trying to convert to nanoexpress. The apps use middleware for everything. There are no routes on the main app, they are all defined in the middleware, so it looks something like..

[code]
Then Api defines another nanoserver with routes and more middleware
[code]
And then at the bottom of that it uses another middleware tha

[2021-09-16 04:42] javaarchive opened #275 "Allow getting IP address of machine accessing the server"
## Feature Request

### Is you/your team sponsoring this project

- [ ] Yes
- [X] No

### Is your feature request related to a problem? Please describe

I'm writing a ratelimiter that rate limits by ip but I hit a road block while trying to find the ip of the person requesting the resource.

### Describe the solution you'd like

`getRemoteIPv4` and `getRemoteIPv6` or a similar api on the request o

[2021-09-16 09:32] dalisoft commented on #275
Hey @javaarchive!

Thank you for interest in nanoexpress

Try `req.getIP()` or `req.getProxiedIP()` and see it works or not for you

[2021-09-17 04:33] javaarchive commented on #275
Oh, my bad I wasn't looking in the right place and there indeed is a method to get the requester ip of a request.

[2021-09-17 04:33] #275 closed

[2021-10-04 15:05] gabrielcursino opened #284 "req.body is undefined if request has large body"
## Bug Report

### Is you/your team sponsoring this project

- [ ] Yes
- [x] No

#### _If your team sponsoring this project, please attach here your team lead or who purchased license GitHub login_

### Minimal reproducible repo

[code]

### Current Behavior

If request has body > ~1mb, `req.body` is undefined, but small requests are parsed correctly

### Expected behavior/code

Parse body correct

[2021-10-05 00:12] dalisoft commented on #284
If request body is larger than 512Kb (or Mb don’t remember) or content type is multipart, the handler will think it’s file.
see source code

[2021-10-05 15:12] gabrielcursino commented on #284
i need to upload some base64, sometimes they pass 512kb, any suggestions for doing this?

[2021-10-06 15:11] dalisoft commented on #284
If it’s larger, then one way is create PR to increase this value.
Create PR, I’ll review and merge

[2021-10-08 20:19] dalisoft commented on #248
As no PR related to this issue - it’s not issue, just your wishes

[2021-10-08 20:19] #248 closed

[2021-10-08 20:20] dalisoft commented on #247
There has declaration, but needs for improvements. Any PR welcome but there none available.

[2021-10-08 20:20] #247 closed

[2021-10-09 17:33] gabrielcursino commented on #284
@dalisoft Thank you! It's working now

[2021-10-28 14:24] dougg0k opened #304 "Getting Buffer in request.body"
Hi,

I'm getting a Buffer in the `request.body`, when I tried to add `body-parser` with `app.use(bodyParser.json());`, I get the error `stream.on is not a function` and a message `the key 'message' was not present`.

Right now the only way is to `JSON.parse(buffer.toString())` which are probably slowing down a bit given the parse.

I also tried `@nanoexpress/middleware-body-parser` and it's giving

[2021-11-10 16:00] mostafaSalah12 opened #308 "can I use express middlewares in nanoexpress for example helmet ?"
I see nanoexpress has a very high performance, but I'm afraid to stuck in rewriting most of the existing middlewares, is it ok to use express middlewares in nanoexpress?

[2021-11-11 17:00] #308 closed

[2021-11-23 08:51] izelnakri opened #324 "Cut a new release with uwebsockets.js dependency"
## Bug Report

### Minimal reproducible repo

https://github.com/izelnakri/memoria/runs/4296814176?check_suite_focus=true#step:6:1205

### Current Behavior

On a dockerized CI environment npm cannot fetch the "uWebSockets.js" npm library, the library has become completely downcased

### Possible Solution

Cut a new release with "uwebsockets.js" dependency instead of "uWebSockets.js".

[2021-11-23 09:42] dalisoft commented on #324
Seems you’re using either old version of nanoexpress or wrong version of uWS.
please check this or submit PR with correct solution.

Thank you

[2021-11-23 10:04] izelnakri commented on #324
Please read the bug report better this time, I use the latest nanoexpress:

https://github.com/nanoexpress/nanoexpress/blob/master/package.json#L54

Thank you

[2021-11-23 10:26] dalisoft commented on #324
@izelnakri Please check version on docker build and latest nanoexpress version is differs.
`uWebSockets.js@19.2.0' is not in this registry` error whereas nanoexpress uses v19.5.0, any questions?
I use in docker images too my nanoexpress, it works flawlessly

[2021-11-23 10:26] #324 closed

[2021-11-25 21:52] izelnakri commented on #324
Yea error seems to be odd, I updated few internal pkgs and now I dont see it. However the npm error did tell me me all deps have to be all lower-case.

Also is it ideal to have websocket.js version as a github link in production? This npm package could simply ship with the local dependency?

[2021-11-26 08:18] dalisoft commented on #324
No, it will be better to use `zip` or `tar.gz` as on `Docker` will not be required `git` dependency and can reduce build image size up-to 25% which is huge for 100+ images on production environments

[2021-11-26 17:05] izelnakri commented on #324
so let me get this right, you think a github link dependency thus a fragile build instructions are better because it reduces docker image sizes. I'm also curious where you got that 25% from, git dependency isn't that big and I had issues previously running nanoexpress on alpine actually, one has to get that very smooth first before advocating for docker image sizes.

[2021-11-26 18:16] dougg0k opened #326 "Invalid access of discarded (invalid, deleted) uWS.HttpResponse/SSLHttpResponse."
![Screenshot from 2021-11-26 15-16-12](https://user-images.githubusercontent.com/10801221/143618840-23b9bb17-e225-4099-b596-b988cadac47b.png)

[2021-11-26 22:11] dalisoft commented on #326
@dougg0k Thank you but I currently don’t have enough time for tracking this bug or error handling but PR with solutions are welcome

[2021-12-04 22:41] azkadev opened #331 "bug route"
## Bug Report
 i tried route exmaple but doesn't work
[code]

### Minimal reproducible repo

Link here

### Current Behavior

A clear and concise description of the behavior.

### Expected behavior/code

A clear and concise description of what you expected to happen (or code).

### Environment

- Node/npm version: v19.6.1
- OS: Linux
- Addinational Info: `_type here_`

### Possible Solution

### A

[2021-12-06 08:40] dalisoft commented on #331
@azkadev Hi and thank you for issue, can you please show additional info or write here? Just not works is not a bug, an ask for help from author developer like warranty but this project does not guarantee any warranty

[2021-12-07 16:38] dougg0k commented on #326
It's fine, same, no time available, I had to refactor to HyperExpress. They also have a solution built-in for a json body issue that I also had reported before. https://github.com/nanoexpress/nanoexpress/issues/304

Plus they seem to have all up-to-date, like latest uWebsockets versions.

Thanks for taking the time to create the lib though.

[2022-01-01 15:28] krishnaTORQUE commented on #251
I am also facing the same issue

[2022-01-01 20:12] dalisoft commented on #251
Oh, yes, this is known-bug

[2022-01-01 20:14] dalisoft commented on #251
The fact that any express or other frameworks doing wrong way, the correct way is always pushing header as duplicate

[2022-02-26 16:27] #265 closed

[2022-02-26 16:28] dalisoft commented on #265
@kran6a Thank you for issue, can you please check it, it is fixed or still issue for you?

[2022-02-26 16:30] dalisoft commented on #304
Can you describe issue with much more realistic example where and why does not work and i try fix or you can create PR for fix.

For using `body` nanoexpress expects `POST/PUT` with body for performance reason and reduce CPU/memory where it's does not need :)

[2022-02-26 16:30] #304 closed, assigned to nobody

[2022-02-26 16:30] #326 closed

[2022-02-26 16:32] dalisoft commented on #326
As you found another library i think i can close this PR

@akhmadiy Can you look to this issue for investage why it's happens?
@dougg0k Can you please give us example minimal repo for reproduce issue?

[2022-02-26 16:32] dalisoft commented on #331
Not a good describtion of issue, close

[2022-02-26 16:32] #331 closed

[2022-02-26 16:34] dalisoft commented on #251
@gotshadowbantempaccount Please give us example minimal reproducible repo

@akhmadiy Please look into this issue too as soon as you can get

[2022-02-26 16:34] #251 closed

[2022-03-11 16:47] izelnakri opened #385 "v5.2.3 includes "semantic-release" in dependencies"
Hi there,

v5.2.3 includes `semantic-release` v19.0.2 in its dependencies, could you move it to devDependencies? Also, it fetches many files that aren't needed in an npm release, if you could clean them up with package.json `"files": ["$includedFolder/*"]` I'd appreciate.

I'm also bit confused with the `@next` tag that is release 9 months ago, it doesn seem to receive updates while v5 receives up

[2022-03-13 16:03] dalisoft commented on #385
@izelnakri
Hello and thank you for interesting.
Yep, that's issue, can you please create PR for fixing this case? I would appreciate that.

About `@next` release, first it was plan fix bugs by reports but no reports nor interests got, seems users does not use really `nanoexpress`.

Almost 80% codebase for **next** was ported from PRO Ultimate for blazing fast performance and unbeatable stability (

[2022-03-13 16:43] izelnakri commented on #385
Hi @dalisoft , I actually wanted to create a PR then wasn't sure which branch to branch off from since master doesnt seem to be v5.2.3. Would be great if you set up a release process.

I understand you might get busy from time to time and have difficulties managing the balance, this issue isn't urgent but would be great the earlier its done and the project gets improved constantly just like all th

[2022-03-24 20:26] dalisoft commented on #385
Hi @izelnakri
I fixed bug which `semantic-release` dependency was containing in production builds, sorry, i did not noticed that before and now it's fixed.
Please check and let me know

[2022-08-26 19:19] #385 closed